/.idea/
/precheck_results/
*/tmp
*/*/tmp
*.hex*
*.lst
*.vcd
*.gtkw
/env
/venv
/venv-cocotb
/caravel
/dependencies
/mgmt_core_wrapper
/logs
openlane2-venv
design_info.yaml
mag/*.mag
mag/merged.max.mag
mag/user_project_wrapper.mag
*.deb
wrapper_run*.log
# Large binary files - use LFS or transfer separately
gds/*.gds
*.log
spef/*.spef
spef/multicorner/*.spef
gds/*.gds
